.appHeaderBar {
  /*background-color: #FDD835;*/
  background-color: #f06543;
  background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
  color: #fff;
}

.app-header-link-list li {
    display: inline;
    padding-left:20px;
  }