body {
  background-color: #231F20;
  height: 100vh;
}

.App {
  overflow: auto;
}

.width100 {
  width: 100%;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}